/*adding media for nav  */
@media screen and (min-width:810px){
    .nav{
        display: flex;
    }
     
    .contact-button{
        display: block;
    }
}
@media screen and (max-width:810px){
    .menu-button{
        display: block;
    }
    
}
/*adding media screen for responsive website*/
@media screen and (min-width:810px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 70%;
        text-align: left;
        
    }
    .section-title{
        padding-left: 0;
    }
    .content-group{
        justify-content: start;
        padding-left: 0;
    }
    .section-title{
        font-size: 50px;
    }
    .section-description{
        color: rgb(65, 62, 62);
    }
}
/*adding media screen for responsive  company container section*/
@media screen and (min-width:700px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .company-title{
        font-size: 35px;
    }
    .company-grid{
        border-radius: 20px;
    }
}
@media screen and (max-width:660px){
    .feature-grid{
        
        grid-template-columns: repeat(1,1fr);
    }
}
/*adding keyframes for animaton for slidefromleft identifier*/
@keyframes slidefromleft {
    0%{
        opacity: o;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}